/*✅❌*/

/* 
✅background color for whole document
✅font family for whole document
✅color for all text
✅margin 0 so all elements in body touch the right and left edge of the screen, the top of the screen if it's the top element, and no spaces between elements
*/

:root {
    --medColorOne: #640088;
    --darkColor: #222;
    --lightColor: #fff59a;
    --medColorTwo: #FF8600;
}

body {
    background-color: var(--darkColor);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: var(--lightColor);
    margin: 0;
}

/*
✅background color for the whole header banner
❌display: flex: it's making the margin go away and making the justify thing work but I don't know why
✅justify h1 and nav to be on opposite sides of screen
✅items, particularly the nav options, are centered vertically
*/

header {
    background-image: linear-gradient(to right, var(--medColorOne), var(--darkColor));
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
}

#mainTitle {
    background-color: var(--lightColor);
    color: var(--darkColor);
    font-size: 15px;
    width: 300px;
    text-align: end;
    padding-right: 5%;
    position: absolute;
    left: 0;
}

nav {
   width: 500px;
   position: absolute;
   right: 0;
}

ul {
    list-style-type: none;
    width: 100%;
}

li{
    display: inline;
    margin-right: 5%;
}

#subtitleBanner {
    display: flex;
    background-image: url("assets/banner.png");
    background-color: var(--medColorOne);
    height: 150px;
    position: relative;
    align-items: center;
}

#subtitle {
    background-color:var(--medColorOne);
    width: fit-content;
    position: absolute;
    right: 5%;
    bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.mainSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.mainHeading{
    display: flex; 
    flex-wrap: wrap;
    flex: 0 0 20%;
    justify-content:right;
    background-image: linear-gradient(to right, var(--medColorOne), var(--darkColor));
}

h3{
    font-size: 150%;
    padding-right: 10%;
}

.mainContent{
    display: flex; 
    flex-wrap: wrap;
    flex: 1 1 80%;
}

.firstExample{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    flex-direction: column;
}

.projectExample{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    flex-direction: column;
}

img{
    margin: .5rem;
}

#contactContent{
    flex-wrap:nowrap;
}

@media screen and (max-width: /*decide width*/) {
    /* need to make elements rearrange somehow...*/
}